<div style="padding:24px">
  <div nz-row class="form-card">
    <div nz-col nzSpan="24" style="text-align:center; margin:24px 0px 36px 0px">
      <h2>注册新用户</h2>
      <nz-divider style="max-width:80%"></nz-divider>
    </div>
    <div nz-col nzSpan="24">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>用户名</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="usernameErrorTpl" nzValidatingTip="正在检查用户名是否可用...">
            <input nz-input type="text" id="username" formControlName="username" autocomplete="off" />
            <ng-template #usernameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">请填写用户名</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">请使用英文字母、数字，长度 6~15 位</ng-container>
              <ng-container *ngIf="control.hasError('existed')">用户已存在</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入密码">
            <input nz-input type="password" id="password" formControlName="password" autocomplete="off"
              (ngModelChange)="updateConfirmValidator()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>重复密码</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                请重复输入密码
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                两次输入的密码不一致
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
            <span>
              昵称
              <i nz-icon nz-tooltip nzTooltipTitle="稍后可从个人中心再次修改" nzType="question-circle" nzTheme="outline"></i>
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="nicknameErrorTpl" nzValidatingTip="正在检查敏感词...">
            <input nz-input id="nickname" formControlName="nickname" />
            <ng-template #nicknameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">请填写昵称</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">昵称包含特殊字符</ng-container>
              <ng-container *ngIf="control.hasError('sensitive')">昵称包含敏感词</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>手机号</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']"
            [nzErrorTip]="phoneNumberErrorTpl"
            nzExtra="按照公安备案要求，交互式网站必须留存用户的至少一项实名信息以备查验。请放心，你的信息将被加密保存，其他用户均不可见。（如有来自海外用户的验证需求，请想办法联系骚汉，可以灵活处理）">
            <ng-template #phoneNumberErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">请填写手机号码</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">请填写格式正确的手机号码</ng-container>
            </ng-template>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="18">
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                  <ng-template #addOnBeforeTemplate>
                    <nz-select formControlName="phoneNumberPrefix" style="width:70px;">
                      <!--https://flagpedia.asia/emoji-->
                      <nz-option nzCustomContent nzLabel="+86" nzValue="+86"><img src="/assets/nations/cn.png"
                          alt="US" />+86</nz-option>
                    </nz-select>
                  </ng-template>
                  <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
                </nz-input-group>
              </div>
              <div nz-col [nzSpan]="6">
                <validate-code-modal (onClickOk)="sendSmsCode($event)" [disabled]="!isSendSmsCodeButtonEnable">发送验证码
                </validate-code-modal>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="smsCode" nzRequired>短信验证码</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="smsCodeErrorTpl" nzValidatingTip="正在比对验证码...">
            <ng-template #smsCodeErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">请填写手机验证码</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">请输入数字</ng-container>
            </ng-template>
            <input formControlName="smsCode" id="smsCode" nz-input style="max-width:85px" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6" [nzErrorTip]="'请阅读用户注册许可协议。'">
            <label nz-checkbox formControlName="agree">
              <span>我已阅读并同意用户注册</span>
            </label><a style="font-weight: 600;" (click)="showAgreement()">许可协议</a> 。
            <nz-modal [nzVisible]="isAgreementShow" nzTitle="用户注册许可协议" (nzOnCancel)="isAgreementShow=!isAgreementShow" (nzOnOk)="closeAgreement()"
              [nzCancelText]="null">
              <div style="text-align: center;margin-top: 18px;">
                <p><b>1.骚汉真的不想坐牢，别发布瞎搞言论就成</b></p>
                <p><b>2.前期求稳诸事都审，造成不便恳请谅解～</b></p>
              </div>
            </nz-modal>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>