<div class="container">

    <div nz-row>
        <div nz-col nzSpan="24">
            <h2>审核</h2>
        </div>
    </div>

    <nz-tabset>
        <nz-tab nzTitle="用户">
            <nz-table #usersTable [nzData]="users" [nzLoading]="isUsersLoading">
                <thead>
                    <tr>
                        <th>昵称</th>
                        <th>头像</th>
                        <th>个人主页</th>
                        <th>个性签名</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersTable.data">
                        <td>{{ user.nickName }}</td>
                        <td>
                            <nz-avatar [nzSize]="64" nzIcon="user" nzSrc="{{ user.avatarUrl }}"></nz-avatar>
                        </td>
                        <td><a href="{{user.personalHomepageUrl}}" target="_blank">{{user.personalHomepageUrl}}</a></td>
                        <td>{{ user.personalizedSignature }}</td>
                        <td><span nz-typography nzType="warning">等待审核</span></td>
                        <td>
                            <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="确认通过审核吗？"
                                (nzOnConfirm)="confirmUser(user)">通过</button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nz-button nzDanger (click)="showReasonInputModel(user)">拒绝</a>
                            <nz-modal [(nzVisible)]="isReasonModalShow" nzTitle="将拒绝用户 {{user.nickName}}："
                                nzCancelText="取消" (nzOnCancel)="isReasonModalShow=!isReasonModalShow"
                                (nzOnOk)="rejectUser()">
                                <input nz-input placeholder="请告知其审核不通过的原因。" [(ngModel)]="rejectReason" />
                            </nz-modal>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>
        <nz-tab nzTitle="评论">
            【@正在开发】
        </nz-tab>
        <nz-tab nzTitle="文档">
            【@正在开发】
        </nz-tab>
    </nz-tabset>



</div>