.container {
    padding: 16px;
    width: 100%;
  }
  
  h2 {
    line-height: 64px;
  }
  
  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }