:host {
  width: 100%;
  height: 100%;
}

  :host::ng-deep .anticon-close {
    float: right;
    position: relative;
    top: 12px;
    right: 2px;
  }

.wrapper {
  width: 100%;
  height: 100%;
}

.form {
  margin: 12px auto 0px auto;
  width: 750px;
  height: 80%;
  min-height: 600px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.title {
  width: 80%;
  border: 0px;
  margin: 24px;
  font-size: xx-large;
  font-weight: 500;
  font-family: inherit;
  color: black;
}

.alert {
  width: 750px;
  margin: 48px auto 0 auto;
  display: block;
  height: 38px;
  line-height: 38px;
  font-size: small;
}
