<div>
  <div nz-row nzType="flex">
    <!--左侧主要文档内容-->
    <div nz-col nzLg="20" nzXs="24">
      <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzParagraph]="{rows:16}"></nz-skeleton>
    </div>
  </div>

  <div nz-row nzType="flex" *ngIf="loading==false">
    <div nz-col nzLg="20" nzXs="24">
      <div *ngIf="isAdmin && isEditLocked" style="background-color: #fffbe6;
                  width: 100%;
                  height: 100%;
                  line-height: 32px;
                  padding-left: 16px;">
        <nz-badge nzStatus="processing" nzText="编辑中：" style="font-weight:800;"></nz-badge>
        <span>
          当前文档此刻正在被用户
          <nz-avatar nzSrc="{{wikiPassage.editingUser.avatarUrl}}" style="width: 24px;
                                                                      height: 24px;
                                                                      position: relative;
                                                                      top: -2px;"></nz-avatar><b>{{wikiPassage.editingUser.nickName}}</b> 进行编辑，直至该用户完成保存前，编辑权限已暂向其他用户进行锁定。
        </span>
      </div>
      <h2 style="color:black;opacity:0.85;margin:16px;">
        {{wikiPassage?.title}}
        <ng-container *ngIf="pageStatus==0 && isAdmin && !isEditLocked">
          <button nz-button nzType="primary" [nzLoading]="isLoadingEditButton" (click)="edit()" style="margin-left:16px;"><i nz-icon type="edit"></i>编 辑</button>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" (click)="createChildPage()" style="margin-left: 16px;"><i nz-icon type="file-text"></i>创建子文档<i nz-icon nzType="down"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item *ngFor="let item of wikiPassage.childPageBreadCrumbs" (click)="gotoChildPage(item.url)">
                <a>子文档：{{item.name}}</a>
              </li>
              <li nz-menu-item *ngIf="wikiPassage.childPageBreadCrumbs.length==0">
                <a>-暂无子级文档-</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
        <button *ngIf="pageStatus==1 && isAdmin" nz-button nzType="primary" [nzLoading]="isLoadingSaveButton" (click)="update()" style="margin-left:16px;"><i nz-icon type="save"></i>保 存</button>
        <button *ngIf="pageStatus==1 && isAdmin" nz-button nzType="default" (click)="openUploader()" style="margin-left:16px;"><i nz-icon type="upload"></i>上传图片</button>
        <a *ngIf="pageStatus==1 && isAdmin" nz-button nzType="default" href="https://www.tablesgenerator.com/markdown_tables" target="_blank" style="margin-left:16px;"><i nz-icon type="save"></i>表格编辑器</a>
      </h2>

      <span style="margin-left:16px;">
        最后编辑：{{wikiPassage?.lastModifyDate}}
      </span>


      <div nz-row nzType="flex">
        <div nz-col nzSpan="24" style="margin:16px;">
          <ul style="text-decoration:none;">
            <li>
              <b>主要作者/译者：</b>
              <ng-container *ngFor="let item of wikiPassage?.mainAuthors;let i=index;">
                <a *ngIf="item.personalHomepageUrl!=null" target="_blank" nz-tooltip nzTooltipTitle="{{item.personalHomepageUrl}}" href="{{item.personalHomepageUrl}}">{{item.nickName}}</a>
                <span *ngIf="item.personalHomepageUrl==null">{{item.nickName}}</span>
                <nz-avatar nzSrc="{{item.avatarUrl}}"
                           [ngStyle]="{ 'background-color': color }"
                           style="vertical-align: middle;margin-left:8px;"></nz-avatar>
                <span *ngIf="i+1<wikiPassage.mainAuthors.length" style="margin-left:8px;margin-right:8px;">|</span>

              </ng-container>
            </li>
            <li>
              <b>合作编辑者/译者：</b>
              <ng-container *ngFor="let item of wikiPassage?.coAuthors;let i =index;">
                <a *ngIf="item.personalHomepageUrl!=null" target="_blank" nz-tooltip nzTooltipTitle="{{item.personalHomepageUrl}}" href="{{item.personalHomepageUrl}}">{{item.nickName}}</a>
                <span *ngIf="item.personalHomepageUrl==null">{{item.nickName}}</span>
                <span *ngIf="i+1<wikiPassage.coAuthors.length">, </span>
                <span *ngIf="i+1==wikiPassage.coAuthors.length" style="margin-left:8px;margin-right:8px;">|</span>
              </ng-container>
              <ng-container *ngFor="let item of wikiPassage?.coAuthors">
                <nz-avatar nzSrc="{{item.avatarUrl}}"
                           [ngStyle]="{ 'background-color': color }"
                           style="vertical-align: middle;"></nz-avatar>
              </ng-container>
              <ng-container *ngIf="wikiPassage?.coAuthors==null">无</ng-container>
            </li>
          </ul>


        </div>
      </div>

      <div style="margin:16px;margin-top:24px;margin-bottom:40px;">

        <markdown *ngIf="pageStatus==0" [data]="wikiPassage?.content" replace-table></markdown>

        <md-editor *ngIf="pageStatus==1"
                   name="Content"
                   [upload]="doUpload"
                   [preRender]="preRenderFunc"
                   [(ngModel)]="wikiPassage.content"
                   [height]="'670px'"
                   [mode]="'editor'"
                   required
                   maxlength="6000">
        </md-editor>

      </div>
    </div>
    <!--右侧目录-->

    <div nz-col nzLg="4" nzXs="0">
      <nz-anchor>
        <nz-link *ngFor="let item of wikiPassage?.anchorTitles" nzHref="{{item.href}}" nzTitle="{{item.title}}">
          <nz-link *ngFor="let child of item.children" nzHref="{{child.href}}" nzTitle="{{child.title}}"></nz-link>
        </nz-link>
        <!--<nz-link nzHref="#道路--铁路" nzTitle="道路 & 铁路"></nz-link>
        <nz-link nzHref="#公共交通" nzTitle="公共交通"></nz-link>
        <nz-link nzHref="#市政服务" nzTitle="市政服务"></nz-link>
        <nz-link nzHref="#发展规划" nzTitle="发展规划"></nz-link>
        <nz-link nzHref="#其他提示" nzTitle="其他提示"></nz-link>
        <nz-link nzHref="#衍生讨论与外部资源" nzTitle="衍生讨论与外部资源"></nz-link>-->
      </nz-anchor>
    </div>
  </div>
</div>
