<div class="container">
  <h2>管理控制台</h2>
  <span style="margin-left: 24px;" *ngIf="currentUser">尊敬的 <b>{{currentUser.nickName}}</b> ，你好。辛苦了！感谢你为一颗小虎牙一直以来作出的不懈努力 💪</span>
  <div nz-row [nzGutter]="16" style="margin-top: 24px;">

    <div nz-col nzSpan="6" *ngFor="let item of data">
      <nz-card style="width: 100%;margin-top: 16px" nzHoverable="true"
               [routerLink]="item.routerLink">
        <nz-card-meta [nzAvatar]="elementRef"
                      [nzTitle]="item.title"
                      [nzDescription]="item.description"></nz-card-meta>
      </nz-card>
      <ng-template #elementRef>
        <i nz-icon [nzType]="item.iconType" nzTheme="outline"></i>
      </ng-template>
    </div>

  </div>
  <hr />

</div>
