.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.fixed-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.content .header {
  background: #fff;
  padding: 0;
}

.content .content {
  margin: 24px 16px 0;
  overflow: initial
}
