<button nz-button [disabled]="disabled" (click)="showModal($event)"><ng-content></ng-content></button>
<nz-modal [(nzVisible)]="isVisiable" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div nz-row class="align-center">
    <div nz-col nzSpan="24">
      <label>请输入下图中的文字：</label>
    </div>
    <div nz-col nzSpan="24" style="margin-top:24px;text-align: center;cursor: pointer;">
      <img src="{{validateCodeImgBase64}}" alt="正在获取验证码..." (click)="refreshValidateCode()"/>
    </div>
    <div nz-col nzSpan="24" style="margin-top:24px;margin-bottom: 24px; text-align: center;">
      <input type="text" name="validateCode" style="text-align: center;" [maxLength]="4" [(ngModel)]="userInputCode" spellcheck="false"/>
    </div>
  </div>
</nz-modal>
