<div class="container">

  <div nz-row>
    <div nz-col nzSpan="24">
      <h2>系统设置</h2>
    </div>
  </div>

  <div nz-row nzType="flex" nzJustify="end">
    <div nz-col nzSpan="2" style="margin-bottom:16px;">
      <!--<button nz-button (click)="createUser()" nzType="primary">添加用户</button>-->
    </div>
  </div>

  <form nz-form [formGroup]="systemSettingsForm"
        (ngSubmit)="submitForm(systemSettingsForm.value)"
        [nzLayout]="'vertical'">

    <nz-divider nzText="网站信息"></nz-divider>
    <div nz-row>
      <div nz-col nzSpan="24" *ngFor="let item of siteInfoes">
        <nz-form-item>
          <nz-form-label nzRequired>{{item.text}}</nz-form-label>
          <nz-form-control nzErrorTip="请填写{{item.text}}!">
            <input formControlName="{{item.fieldName}}"
                   nz-input
                   placeholder="{{item.description}}"
                   [(ngModel)]="item.ngModel">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider nzText="公告文本"></nz-divider>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired>首页版块标题设置</nz-form-label>

          <div nz-row nzJustify="space-between">
            <div nz-col nzSpan="8">
              <div nz-row class="homepage-board-box" style="text-align:center;border-radius:2px;">
                <div nz-col style="height:240px;" nzSpan="8">A</div>
                <div nz-col style="height:240px;" nzSpan="16">
                  <div nz-row>
                    <div nz-col nzSpan="12" style="height:180px;">
                      <div nz-row>
                        <div nz-col nzSpan="24" style="height:60px;">B</div>
                        <div nz-col nzSpan="24" style="height:60px;">C</div>
                        <div nz-col nzSpan="24" style="height:60px;">D</div>
                      </div>
                    </div>
                    <div nz-col nzSpan="12" style="height:180px;">E</div>
                    <div nz-col nzSpan="24" style="height:60px;">F</div>
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="15">
              <div nz-row nzGutter="0" nzJustify="space-between">
                <div nz-col nzSpan="11" *ngFor="let item of boardTitles">
                  <nz-form-control nzErrorTip="请填写{{item.text}}!">
                    <nz-form-label nzRequired>{{item.text}}</nz-form-label>
                    <input formControlName="{{item.fieldName}}"
                           nz-input
                           placeholder="请填写 {{item.description}}"
                           [(ngModel)]="item.ngModel">
                  </nz-form-control>
                </div>
              </div>
            </div>
          </div>

        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24" *ngFor="let item of boardContents;let i = index">
        <nz-form-item>
          <nz-form-label nzRequired>{{item.text}}</nz-form-label>
          <nz-form-control nzErrorTip="请填写 {{item.text}}!">
            <textarea formControlName="{{item.fieldName}}"
                      nz-input rows="2"
                      placeholder="{{item.description}}"
                      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                      [(ngModel)]="homepageSettings[item.ngModel]"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider nzText="主题色"></nz-divider>
    <div nz-row nzGutter="16" nzJustify="space-between">
      <div nz-col nzSpan="8" *ngFor="let item of colorSettings;let i = index">
        <nz-form-item>
          <nz-form-label nzRequired>{{item.text}}</nz-form-label>
          <nz-form-control nzErrorTip="请填写 {{item.text}}!">
            <span class="color-preview-box" style="background-color:{{colorInput.value}}"></span>
            <input style="width:90%"
                   formControlName="{{item.fieldName}}"
                   nz-input
                   placeholder="{{item.description}}"
                   [(ngModel)]="homepageSettings[item.ngModel]" #colorInput>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <a nz-button nzType="default" (click)="$event.stopPropagation();resetColorSettings();" nz-tooltip nzTooltipTitle="重置为默认的深蓝色配色方案（保存后生效）" nzTooltipPlacement="right">重置配色方案数值</a>
      </div>
    </div>

    <nz-divider nzText="其他"></nz-divider>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired>友情链接</nz-form-label>
          <nz-form-control nzErrorTip="请填写友情链接!">
            <textarea formControlName="friendlyWebsiteUrls"
                      nz-input rows="2"
                      placeholder="格式：名称#链接#图片地址。每行一个，换行填写，自动识别。"
                      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                      [(ngModel)]="homepageSettings.friendlyWebsiteUrls"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="16">
      <div nz-col nzSpan="10">
        <nz-form-item>
          <nz-form-label nzRequired>外部媒体跳转的显示文本（首页左下角，留空则不显示）</nz-form-label>
          <nz-form-control nzErrorTip="请填写外部媒体显示文本!">
            <input formControlName="outsideMediaLinkText"
                   nz-input
                   placeholder="请填写外部媒体显示文本"
                   [(ngModel)]="homepageSettings.outsideMediaLinkText">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="14">
        <nz-form-item>
          <nz-form-label nzRequired>外部媒体跳转的链接地址（首页左下角，留空则不显示）</nz-form-label>
          <nz-form-control nzErrorTip="请填写外部媒体跳转链接!">
            <input formControlName="outsideMediaLinkUrl"
                   nz-input
                   placeholder="请填写跳转外部媒体的链接地址"
                   [(ngModel)]="homepageSettings.outsideMediaLinkUrl">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>



    <div nz-row>
      <div nz-col nzSpan="24">
        <button nz-button nzType="primary" style="width:120px;" [disabled]="!systemSettingsForm.valid">保 存</button>
        <button nz-button nzType="default" (click)="resetForm($event)" style="margin-left:8px;">重 置</button>
      </div>
    </div>


  </form>
</div>
