<div class="container">

  <div nz-row>
    <div nz-col nzSpan="24">
      <h2>系统设置</h2>
    </div>
  </div>

  <div nz-row nzType="flex" nzJustify="end">
    <div nz-col nzSpan="2" style="margin-bottom:16px;">
      <!--<button nz-button (click)="createUser()" nzType="primary">添加用户</button>-->
    </div>
  </div>

  <div nz-row style="overflow:auto;">

    <div nz-col nzSpan="24">
      <form nz-form [formGroup]="homepageSettings">
      </form>
    </div>

    <div nz-col nzSpan="24">
      <button nz-button nzType="primary" style="width:120px;">保 存</button>
      <button nz-button nzType="default" style="margin-left:8px;">取 消</button>
    </div>
  </div>

</div>
