<ng-container *ngIf="isLoading">
  <nz-spin nzSimple></nz-spin>
</ng-container>

<ng-container *ngIf="(editors==null || editors.length<=0) && !isLoading">
  <nz-empty></nz-empty>
</ng-container>

<ng-container *ngIf="editors!=null && editors.length>0">
  <div nz-row nzType="flex" nzJustify="center" style="margin-top:24px;" *ngFor="let item of editors">
    <!--左侧头像、个性签名-->
    <div nz-col nzXl="7" nzLg="24" style="text-align:left;min-width:330px;">
      <div style="font-size:16px;margin-bottom:23px;"><b>用户信息</b></div>
      <nz-card style="width:300px;margin-bottom:24px;" [nzActions]="[actionCommitTimes, actionLastActiveDate]">
        <nz-card-meta [nzTitle]="nzCardTitleTpl" nzDescription="{{item.userInfo.personalizedSignature}}" [nzAvatar]="avatarTemplate"></nz-card-meta>
      </nz-card>
      <ng-template #nzCardTitleTpl>
        <a href="{{item.userInfo.personalHomepageUrl}}"
           target="_blank"
           style="font-weight:bold"
           nz-tooltip nzTooltipTitle="{{item.userInfo.personalHomepageUrl}}">{{item.userInfo.nickName}}</a>
      </ng-template>
      <ng-template #avatarTemplate>
        <nz-avatar [nzSize]="64" nzSrc="{{item.userInfo.avatarUrl}}"></nz-avatar>
      </ng-template>
      <ng-template #actionCommitTimes>
        <div style="cursor:default;">
          <nz-statistic [nzValue]="item.userInfo.commitTimesCount|number" [nzTitle]="'累计提交'" [nzSuffix]="'次'"></nz-statistic>
        </div>
      </ng-template>
      <ng-template #actionLastActiveDate>
        <div style="cursor:default;">
          <nz-statistic *ngIf="item.userInfo.lastCommitDateTime" [nzValue]="item.userInfo.lastCommitDateTime.substring(0,10)" [nzTitle]="'最后活跃'"></nz-statistic>
          <nz-statistic *ngIf="!item.userInfo.lastCommitDateTime" nzValue="暂无记录" [nzTitle]="'最后活跃'"></nz-statistic>
        </div>
      </ng-template>
    </div>
    <!--右侧列表-->
    <div nz-col nzXl="15" nzLg="24" style="text-align:left;">
      <nz-descriptions nzTitle="文档贡献信息" nzBordered [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzLayout="vertical">
        <nz-descriptions-item [nzTitle]="nzTitleTpl">
          <ng-template #nzTitleTpl>
            <i nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i> 作为主要编辑者
          </ng-template>
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXl="6" nzLg="6" nzMd="6" nzSm="12" nzXs="24" *ngFor="let passage of item.mainAuthPassages">
              ▶ <a routerLink="/wiki-passage/{{passage.routePath}}">《{{passage.title}}》</a>
            </div>
          </div>
          <ng-container *ngIf="item.mainAuthPassages.length<=0">
            <div nz-row nzType="flex" nzJustify="center">
              <div nz-col="24">
                <nz-empty></nz-empty>
              </div>
            </div>
          </ng-container>
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="nzTitleTpl2">
          <ng-template #nzTitleTpl2>
            <i nz-icon [nzType]="'smile'" [nzTheme]="'twotone'"></i> 参与编辑或校对
          </ng-template>
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXl="6" nzLg="6" nzMd="6" nzSm="12" nzXs="24" *ngFor="let passage of item.cooAuthPassages">
              ● <a routerLink="/wiki-passage/{{passage.routePath}}">《{{passage.title}}》</a>
            </div>
          </div>
          <ng-container *ngIf="item.cooAuthPassages.length<=0">
            <div nz-row nzType="flex" nzJustify="center">
              <div nz-col="24">
                <nz-empty></nz-empty>
              </div>
            </div>
          </ng-container>
        </nz-descriptions-item>
      </nz-descriptions>
    </div>
    <nz-divider></nz-divider>
  </div>
</ng-container>
