<div class="clearfix">
  <nz-upload nzAction="https://upload.qiniup.com"
             nzListType="picture"
             [(nzFileList)]="fileList"
             nzAccept="image/*"
             [nzShowButton]="isShowUploadBtn"
             [nzCustomRequest]="customRequest"
             (nzChange)="onUploadStatusChanged($event)">
    <button nz-button><i nz-icon nzType="upload"></i><span>上传图片</span></button>
  </nz-upload>
</div>

<button nz-button (click)="showFilesArray()">Show Files Array</button>

<button nz-button (click)="getIamgeMarkdown()">复制 Markdown 链接</button>
