/* You can add global styles to this file, and also import other style files */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 22px;
  /*菜单组子项背景色*/
  --menu-groupitem-background-color: #000c17;
  /*菜单选中文字色*/
  --menu-text-focus-color: #fff;
  /*菜单选中背景色*/
  --menu-background-focus-color: #1890ff;
  /*菜单文字色*/
  --menu-text-color: rgba(255, 255, 255, 0.65);
  /*菜单组文字色*/
  --menu-group-text-color: rgba(255, 255, 255, 0.65);
  /*悬停色*/
  --menu-hover-color: #fff;
  /*悬停背景色*/
  --menu-hover-backgroundcolor: transparent;
  /**/
  /*首页顶部大板块文字颜色*/
  --header-board-text-color: white;
  /*首页顶部大板块背景色*/
  --header-board-background-color: #001529;
  /*首页小版块标题文字色*/
  --little-board-title-text-color: white;
  /*首页小版块背景色*/
  --little-board-background-color: lightslategrey;
}
