<div nz-row style="margin-top:24px;">
  <div nz-col nzSpan="24" style="text-align:center;">
    <h1>特别鸣谢</h1>
  </div>
  <div nz-col nzSpan="24" style="text-align:center;color: cadetblue;margin-bottom:30px;">
    <p><nz-alert nzType="info" nzMessage="🌹 仅以骚汉真诚的谢意：向以下所有合作开发者在引擎构建初期不求回报、无偿贡献全站所有维基文档的无私行为，表达真诚的感谢！谢谢你们，无论 BUG ，还是 502-BadGateway，数个日夜，一路走来。🌹"></nz-alert></p>
  </div>
</div>

<div style="overflow:auto;">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzMd="20" nzXs="24">
      <nz-tabset (nzSelectChange)="onTabsetChange($event)">
        <nz-tab nzTitle="最近活跃">
          <div style="overflow:auto;">
            <p>recent works!</p>
          </div>
        </nz-tab>
        <nz-tab nzTitle="有史以来">
          <div style="overflow:auto;">

            <div nz-row nzType="flex" nzJustify="center" style="margin-top:24px;" *ngFor="let item of allEditors">
              <!--左侧头像、个性签名-->
              <div nz-col nzXl="6" nzLg="24" style="text-align:left;border-right:1px solid #e8e8e8;">
                <nz-card style="width:300px;">
                  <nz-card-meta nzTitle="{{item.userInfo.nickName}}" nzDescription="{{item.userInfo.personalizedSignature}}" [nzAvatar]="avatarTemplate"></nz-card-meta>
                </nz-card>
                <ng-template #avatarTemplate>
                  <nz-avatar [nzSize]="64" nzSrc="{{item.userInfo.avatarUrl}}"></nz-avatar>
                </ng-template>
              </div>
              <!--右侧列表-->
              <div nz-col nzLg="18" nzMd="24" style="text-align:left;padding-left:24px;">
                <nz-descriptions nzTitle="文档贡献信息" nzBordered [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzLayout="vertical">
                  <nz-descriptions-item [nzTitle]="nzTitleTpl">
                    <ng-template #nzTitleTpl>
                      <i nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i> 作为主要编辑者
                    </ng-template>
                    <div nz-row nzType="flex" nzJustify="left">
                      <div nz-col nzLg="4" nzMd="6" nzSm="12" nzXs="24" *ngFor="let passage of item.mainAuthPassages">
                        ▶ <a routerLink="{{passage.routePath}}">《{{passage.title}}》</a>
                      </div>
                    </div>
                  </nz-descriptions-item>
                  <nz-descriptions-item [nzTitle]="nzTitleTpl2">
                    <ng-template #nzTitleTpl2>
                      <i nz-icon [nzType]="'smile'" [nzTheme]="'twotone'"></i> 参与编辑或校对
                    </ng-template>
                    <div nz-row nzType="flex" nzJustify="left">
                      <div nz-col nzLg="4" nzMd="6" nzSm="12" nzXs="24" *ngFor="let passage of item.mainAuthPassages">
                        ● <a routerLink="{{passage.routePath}}">《{{passage.title}}》</a>
                      </div>
                    </div>
                  </nz-descriptions-item>
                </nz-descriptions>
              </div>
              <nz-divider></nz-divider>
            </div>

          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>

</div>
