<div nz-row style="margin-top:24px;">
  <div nz-col nzSpan="24" style="text-align:center;">
    <h1>特别鸣谢</h1>
  </div>
  <div nz-col nzSpan="24" style="text-align:center;color: cadetblue;margin-bottom:30px;">
    <p><nz-alert nzType="info" nzMessage="🌹 仅以骚汉真诚的谢意：向以下所有合作开发者在引擎构建初期不求回报、无偿贡献全站所有维基文档的无私行为，表达真诚的感谢！谢谢你们，无论 BUG ，还是 502-BadGateway，数个日夜，一路走来。🌹"></nz-alert></p>
  </div>
</div>

<div style="overflow:auto;">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzMd="20" nzXs="24">
      <nz-tabset (nzSelectChange)="onTabsetChange($event)">
        <nz-tab nzTitle="最近活跃">
          <div style="overflow:auto;">
            <nz-alert nzType="success" nzMessage="以下数据展示最近一个月内有过提交记录的用户，列表按累计提交次数由高到低排列。"></nz-alert>
            <editor-list-board [editors]="monthlyEditors" [isLoading]="isMonthlyEditorsLoading"></editor-list-board>
          </div>
        </nz-tab>
        <nz-tab nzTitle="有史以来">
          <div style="overflow:auto;">
            <nz-alert nzType="success" nzMessage="以下数据展示有史以来所有用户的恭喜记录，列表按累计提交次数由高到低排列。"></nz-alert>
            <editor-list-board [editors]="allEditors" [isLoading]="isAllEditorsLoading"></editor-list-board>
          </div>
        </nz-tab>
      </nz-tabset>
      <nz-divider style="font-size:small;font-weight:200;color:gray;" nzText="仅以此献给：亲爱的，袁欣女士。唯有你在最紧要关头的持续劝说与鼓励，此引擎的最终诞生，才成为可能。"></nz-divider>
      <nz-divider style="margin-top:43px;"></nz-divider>
    </div>
  </div>

</div>
