<div nz-row style="margin-top:24px;">
  <div nz-col nzSpan="24" style="text-align:center;">
    <h1>特别鸣谢</h1>
  </div>
  <div nz-col nzSpan="24" style="text-align:center;color: cadetblue;margin-bottom:30px;">
    <p><nz-alert nzType="info" nzMessage="🌹 仅以骚汉真诚的谢意：向以下所有合作开发者在引擎构建初期不求回报、无偿贡献全站所有维基文档的无私行为，表达真诚的感谢！谢谢你们，无论 BUG ，还是 502-BadGateway，数个日夜，一路走来。🌹"></nz-alert></p>
  </div>
</div>

<div style="overflow:auto;">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzMd="20" nzXs="24">
      <nz-tabset (nzSelectChange)="onTabsetChange($event)">
        <nz-tab nzTitle="最近活跃">
          <div style="overflow:auto;">
            <p>recent works!</p>
          </div>
        </nz-tab>
        <nz-tab nzTitle="有史以来">
          <div style="overflow:auto;">

            <div nz-row nzType="flex" nzJustify="center">
              <!--左侧头像、个性签名-->
              <div nz-col nzSpan="6" style="text-align:left;border-right:1px solid gray;">
                <nz-avatar [nzSize]="64" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar><b>虎牙汉界</b>
              </div>
              <!--右侧列表-->
              <div nz-col nzSpan="18" style="text-align:left;padding-left:8px;">
                <nz-descriptions nzTitle="主要编辑" nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 2, sm: 1, xs: 1 }" nzLayout="vertical">
                  <nz-descriptions-item [nzTitle]="titleTpl">
                    Cloud Database
                    <ng-template #titleTpl>
                      <p>123</p>
                    </ng-template>
                  </nz-descriptions-item>


                  <nz-descriptions-item [nzTitle]="tplTest">
                    Prepaid
                    <ng-template #tplTest>
                      <ng-container>
                        123
                      </ng-container>
                    </ng-template>
                  </nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                </nz-descriptions>
                <nz-descriptions nzTitle="合作编辑" nzBordered [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 2, sm: 1, xs: 1 }" nzLayout="vertical">
                  <nz-descriptions-item nzTitle="Product">Cloud Database</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Billing Mode">Prepaid</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
                </nz-descriptions>
              </div>

            </div>

          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>

</div>
