<div nz-row nzType="flex" nzJustify="center" ngAlign="middle" class="header-big-board">
  <div nz-col nzXl="12" nzXs="24">
    <div>
      <img src="{{homepageSettings?.homepageLogoPath}}" />
    </div>
  </div>
  <div nz-col nzXl="12" nzXs="0" style="font-size:large;">
    <div>
      <span><markdown [data]="homepageSettings?.websiteDescription"></markdown></span>
    </div>
  </div>
</div>

<div class="ant-black-font" nz-row nzType="flex" nzJustify="center" ngAlign="middle" style="margin-top:3px;">
  <div nz-col nzXXl="4" nzXl="7" nzLg="7" nzMd="12" nzSm="24" nzXs="24">
    <div class="content-header-board">
      {{homepageSettings?.boardTitleA}}
    </div>
    <div class="content-list-warpper" style="margin-left:12px;margin-top:12px;">
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/beginners-guide"><img src="/assets/category-icon/beginners-guide.png" />初学者指南</p>
        <p style="display:inline-block;cursor:pointer;margin-left:0.5em;" routerLink="/wiki-passage/features"><img src="/assets/category-icon/features.png" />功能列表</p>
        <p style="display:inline-block;cursor:pointer;margin-left:0.5em;" routerLink="/wiki-passage/mods"><i nz-icon nzType="setting" nzTheme="outline"></i>MOD 推荐</p>
      </div>
      <div>
        <h2 style="border-bottom:1px solid #a2a9b1;margin-bottom:0.3em;">经营</h2>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/milestones"><img src="/assets/category-icon/milestones.png" />里程碑列表</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/info-views"><img src="/assets/category-icon/info-views.png" />信息视图列表</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/road"><img src="/assets/category-icon/road.png" />道路</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/traffic"><img src="/assets/category-icon/traffic.png" />交通</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/transportation"><img src="/assets/category-icon/transportation.png" />公共交通运输</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/zoning"><img src="/assets/category-icon/zoning.png" />区域</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/districts"><img src="/assets/category-icon/districts.png" />分区</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/policies"><img src="/assets/category-icon/policies.png" />政策列表</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/services"><img src="/assets/category-icon/services.png" />服务列表</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/service-buildings"><img src="/assets/category-icon/service-buildings.png" />服务建筑列表</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/decorations"><img src="/assets/category-icon/decorations.png" />装饰</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/parks-and-plazas"><img src="/assets/category-icon/parks-and-plazas.png" />公园和广场</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/citizens"><img src="/assets/category-icon/citizens.png" />市民</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/happiness"><img src="/assets/category-icon/happiness.png" />幸福度</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/economy"><img src="/assets/category-icon/economy.png" />经济</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/natural-resources"><img src="/assets/category-icon/natural-resources.png" />自然资源</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/tourism"><img src="/assets/category-icon/tourism.png" />旅游</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/pollution"><img src="/assets/category-icon/pollution.png" />污染</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/unique-buildings"><img src="/assets/category-icon/unique-buildings.png" />独特建筑列表</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/monuments"><img src="/assets/category-icon/monuments.png" />伟大工程列表</p>
      </div>
      <div>
        <h2 style="border-bottom:1px solid #a2a9b1;margin:0.3em 0;">元数据</h2>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/modding"><img src="/assets/category-icon/modding.png" />MOD 开发</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/achievements"><img src="/assets/category-icon/achievements.png" />成就列表</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/patches"><img src="/assets/category-icon/patches.png" />历史版本</p>
        <p style="display:inline-block;cursor:pointer;margin-left:1em;" routerLink="/wiki-passage/downloadable-content"><img src="/assets/category-icon/downloadable-content.png" />可下载内容（DLC）</p>
      </div>
      <div>
        <p style="display:inline-block;cursor:pointer;" routerLink="/wiki-passage/developer-diaries"><img src="/assets/category-icon/developer-diaries.png" />维基引擎开发日志</p>
      </div>
      <div style="margin-bottom:8px;">
        <a href="{{homepageSettings?.outsideMediaLinkUrl}}" rel="nofollow" target="_blank"><i nz-icon nzType="tag" nzTheme="outline"></i> {{homepageSettings?.outsideMediaLinkText}}</a>
      </div>
    </div>
  </div>

  <div nz-col nzLg="0" nzMd="12" nzSm="24" nzXs="24">
    <!--最近更新-->
    <ng-container *ngTemplateOutlet="recentUpdateList"></ng-container>
  </div>

  <div nz-col nzXXl="20" nzXl="17" nzLg="17" nzMd="24" nzSm="24" nzXs="24">

    <div nz-row style="height:480px;">

      <div nz-col nzLg="13" nzMd="24" nzSm="24" nzXs="24">
        <div class="content-header-board">
          {{homepageSettings?.boardTitleB}}
        </div>

        <div class="content-text" style="height:80px;overflow:auto;">
          <nz-skeleton [nzActive]="true" *ngIf="isLoadingBoardContent"></nz-skeleton>
          <markdown [data]="homepageSettings?.boardContentB"></markdown>
        </div>
        <div class="content-header-board">
          {{homepageSettings?.boardTitleC}}
        </div>
        <div class="content-text" style="height:80px;overflow:auto;">
          <nz-skeleton [nzActive]="true" *ngIf="isLoadingBoardContent"></nz-skeleton>
          <markdown [data]="homepageSettings?.boardContentC"></markdown>
        </div>
        <div class="content-header-board">
          {{homepageSettings?.boardTitleD}}
        </div>
        <div class="content-text" style="height:155px;overflow:auto;">
          <nz-skeleton [nzActive]="true" *ngIf="isLoadingBoardContent"></nz-skeleton>
          <markdown [data]="homepageSettings?.boardContentD"></markdown>
        </div>
      </div>

      <div nz-col nzLg="11" nzMd="0" nzSm="0" nzXs="0">
        <!--最近更新-->
        <ng-container *ngTemplateOutlet="recentUpdateList"></ng-container>
      </div>

    </div>

    <div nz-row nzJustify="center">
      <div nz-col nzSpan="24">
        <div nz-col nzSpan="24">
          <div class="content-header-board" style="margin-bottom:12px;">
            {{homepageSettings?.boardTitleF}}
          </div>
          <div nz-row nzJustify="center" style="text-align:center;">
            <div nz-col nzXl="6" nzLg="8" nzMd="8" nzSm="12" nzXs="12" style="width:172px;" *ngFor="let item of dlcInfoes">
              <div>
                <img src="{{item.icon}}" alt="Alternate Text" routerLink="{{item.url}}" style="cursor:pointer;" />
              </div>
              <div>
                <a routerLink="{{item.url}}">{{item.name}}</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>


<ng-template #recentUpdateList>
  <div class="content-header-board">
    {{homepageSettings?.boardTitleE}}
  </div>

  <nz-list class="ant-black-font last-modify-wiki-container"
           [nzDataSource]="lastModifyWikisDisplay"
           [nzRenderItem]="item"
           [nzItemLayout]="'horizontal'"
           [nzLoading]="isLoadingLastModifyWikis"
           [nzPagination]="pagination">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta [nzTitle]="nzTitle"
                           nzAvatar="{{item.lastModifyUser.avatarUrl}}"
                           [nzDescription]="nzDescription">
          <ng-template #nzTitle>
            <b>《<a routerLink="/wiki-passage/{{item.routePath}}">{{ item.title }}</a>》</b>
          </ng-template>
          <ng-template #nzDescription>
            <div class="ant-list-item-meta-description ng-star-inserted" style="font-size:xx-small;">
              最后编辑: {{item.lastModifyUser.nickName}} {{item.lastModifyDate}}
            </div>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="pageIndex" nzPageSize="5" [nzTotal]="pageItemTotals" (click)="stopAutoPageTimer()" (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
    </ng-template>
  </nz-list>
  <!--</ng-container>-->
</ng-template>
