:host {
  color: rgba(0,0,0,.85);
}

.header-big-board {
  background: var(--header-board-background-color);
  height: 147px;
  text-align: center;
  color: var(--header-board-text-color);
  line-height: 147px;
}

.content-header-board {
  background: var(--little-board-background-color);
  text-align: left;
  padding-left: 5px;
  border: 1px solid #cccccc;
  height: 31px;
  line-height: 31px;
  color: var(--little-board-title-text-color);
  font-size: medium;
  border-radius: 5px;
}

.ant-black-font {
  font-size: 14px;
  line-height: 2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

  .ant-black-font ::ng-deep .ant-list-item-meta-description {
    color: rgba(0,0,0,.85);
  }



.content-text {
  margin: 0.5em;
  margin-bottom: 1em;
  padding: 0.25em 0.4em 0.25em 0.4em;
  line-height: 24px;
}

.content-list-warpper p {
  margin-bottom: 0.5em;
}

.last-modify-wiki-container {
  padding: 4px 16px;
  text-align: left !important;
}

.mod-guide-wrapper {
  font-size: x-large;
  font-weight: 600;
  font-family: fantasy, 幼圆;
  margin: 16px;
}
