:host {
  color: rgba(0,0,0,.85);
}

.header-big-board {
  background: var(--header-board-background-color);
  height: 147px;
  text-align: center;
  color: var(--header-board-text-color);
  line-height: 147px;
}

.content-header-board {
  background: var(--little-board-background-color);
  text-align: left;
  padding-left: 5px;
  border: 1px solid #cccccc;
  height: 31px;
  line-height: 31px;
  color: var(--little-board-title-text-color);
  font-size: medium;
  border-radius: 5px;
}

.ant-black-font {
  font-size: 14px;
  line-height: 2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

  .ant-black-font ::ng-deep .ant-list-item-meta-description {
    color: rgba(0,0,0,.85);
  }



.content-text {
  margin: 0.5em;
  margin-bottom: 1em;
  padding: 0.25em 0.4em 0.25em 0.4em;
  line-height: 24px;
}

.content-list-warpper p {
  margin-bottom: 0.5em;
}

.last-modify-wiki-container {
  padding: 4px 16px;
  text-align: left !important;
}

.mod-guide-wrapper {
  font-size: xx-small;
  font-weight: 600;
  font-family: Consolas幼圆;
  border: 1px solid #f5f6fa;
  border-radius: 1px;
  padding: 16px 32px;
  margin: 9px;
  cursor: pointer;
  background-color: #fafbfd;
  height: 99px;
}

.mod-guide-img {
  float: left;
  position: relative;
  top: 10px;
  left: -9px;
  background-color: white;
  border-radius: 30px;
  max-height: 38px;
  max-width: 38px;
}

.mod-guide-h3 {
  font-size: xx-small;
  font-weight: 600;
  font-family: Consolas幼圆;
  display: inline-block;
}

.mod-guide-desc {
  color: #778b9e;
  font-size: 9pt;
  font-weight: normal;
  height: 1.5em;
  line-height: 1.5em;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.view-modpassage-icon {
  font-size: 24px;
  color: #b9c4d4;
  position: relative;
  top: -2px;
}

.mod-guide-wrapper:hover {
  box-shadow: 2px 2px 9pt rgba(0,0,0,.1);
  transform: translate(0, -6px);
  background-color: #fff;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}

@keyframes mod-box-hover {
  from {
  }

  to {
    position: relative;
    bottom: .5px;
    right: .5px;
    box-shadow: 3px 3px 1px #fbfbfb;
    background-color: white;
  }
}

.btn-create-passage {
  position: relative;
  bottom: 2px;
  float: right;
  right: 4px;
}

.passage-block {
  cursor: pointer;
  margin-right: 1em;
  line-height: 39px;
}
